.vs/
bin/
obj/
Debug/
Release/

*.user
*.suo
*.userosscache
*.sln.docstates

*.pdb
*.exe
*.dll
*.cache
*.log

[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
[Bb]uilds/

packages/
*.nupkg

TestResults/
*.trx
